{% extends "master.html" %}

{% block title %}
  Kosta Mästerskapen - Scoreboard
{% endblock %}


{% block content %}
  <div class="container mt-5">
    <p class="text-white d-flex justify-content-center">Last update 2024-06-25</p>
    <div class="table-container">
      <table class="table table-based text-white">
        <thead>
          <tr>
            <th>Placement</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>HCP</th>
            <th>Wins</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for x in myscoreboard %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td class="text-capitalize"><span onclick="window.location = 'details/{{ x.slug }}'">{{ x.firstname }}</span></td>
              <td class="text-capitalize"><span onclick="window.location = 'details/{{ x.slug }}'">{{ x.lastname }}</span></td>
              <td >{{ x.hcp }}</td>
              <td>{{ x.wins }}</td>
              <td >{{ x.score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button onclick="window.location.href='/'" class="btn btn-light my-3">
      Gå tillbaka
    </button>
  </div>
{% endblock %}